<%= content_for(:js_page) { javascript_include_tag('questions') } %>
<%= content_for(:js_page) { javascript_include_tag('dyn_elements_interface') } %>

<%= form_for(@question) do |f| %>
  <%= flash_and_form_errors(@question)%>


  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
	<%= select("question", "category_id", @categories.collect { |d| [d.name,d.id] }) %>
  </div>  
  <div class="field">
    <%= f.label "Type of question?" %><br />
    <%= select("question","question_type", {"Open ended" => "1", "Multiple Choice" => "2" }) %>
  </div>
  <div class="field">
    <%= f.label "Keep this question open (start allowing responses)? " %><br />
    <%= check_box("question","open", {}, checked_value="1", unchecked_value="0") %>
  </div>
  
  <div class="add_answers">

  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
