<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
	<%= select("question", "category_id", @categories.collect { |d| [d.name,d.id] }) %>
  </div>  
  <div class="field">
    <%= f.label "Type of question?" %><br />
    <%= select("question","question_type", {"Open ended" => "1", "Multiple Choice" => "2" }) %>
  </div>
  <div class="field">
    <%= f.label "Keep this question open (start allowing responses)? " %><br />
    <%= check_box("question","open", {}, checked_value="1", unchecked_value="0") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
