<%= flash %>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
	<%= select("question", "category_id", @categories.collect { |d| d.name }, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label "Type of question?" %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
	  <%= f.label "Select an answer: " %>
  	  <%= @answers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
