<%= form_for(@question_group) do |f| %>
  <% if @question_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_group.errors.count, "error") %> prohibited this question_group from being saved:</h2>

      <ul>
      <% @question_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <hr />

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :required => "true" %>
  </div>
  <div class="field">
    <%= f.label :question_groups_type %><br />
    <%= select("question_group", :question_groups_type,{ "Survey" => "1", "Test" => "2", "Exam" => "3" }) %>
  </div>
  <br />
  <%= f.fields_for @question_group_questions do |question| %>
    <%= render "question_fields", :f => question %>
  <% end %>
  <%= content_tag :button, :class => :add_question_button do %>
     Add this question
  <% end %>
  <hr />
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
