    <div class="field" id="questions">
  		<div class="select">
    		"Add questions to your group: "<br />
    		<select id="question_selector">
				<%= @questions.each { |q|  %>
					<option value="<%= q.id %>" > <%= q.text %> </option>
				<% } %>
		</select>
  		</div>
  
  <div class="question_list">
    Questions added: <br /> 
	  <% if !@orig_question_group_questions.nil?
	       @orig_question_group_questions.each { |q| %> 
		     <h5 id="<%= q.question_id %>"><%= Question.find(q.question_id).text %></h5>   
	  <%   }
	     end %>
  </div>
  
  <div class="field" id="question_group_questions">
	  <% # if we are editing this question group...
	     if !@orig_question_group_questions.nil?
	       @orig_question_group_questions.each { |q| %> 
	       <input type="hidden" id="<%= q.question_id %>" name="question_group_questions[question_ids][]" value="<%= q.question_id %>">  
	  <%   }
	   end %>
  </div>
  
  <br />
