<%= content_for(:js_page) { javascript_include_tag('answers') } %>

<%= form_for(@answer) do |f| %>
  <%= flash_and_form_errors(@answer)%>

  <div class="field">
    <%= f.label "Choose a question for your answer: " %><br />
    <%= select("answer","questions_id",@presenter.all_questions.collect { |d| [d.text,d.id] } ) %>
  </div>
  <div class="field">
    <%= f.label "Enter answer text:" %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :answer_type %><br />
    <%= f.text_field :answer_type %>
  </div>
  <div class="field">
    <%= f.label :correct %><br />
    <%= select("answer", "correct", { "Yes" => "1" , "No" => "0"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
