<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @presenter.answer.text %>
</p>

<p>
  <b>Type:</b>
  <%= @presenter.answer.answer_type %>
</p>

<p>
  <b>Is this answer correct?</b>
  <%= @presenter.answer.correct %>
</p>

<p>
  <b>Question:</b>
  <%= @presenter.answers_question.text %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
