<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @answer.text %>
</p>

<p>
  <b>Type:</b>
  <%= @answer.answer_type %>
</p>

<p>
  <b>Right:</b>
  <%= @answer.correct %>
</p>

<p>
  <b>Questions:</b>
  <%= @answer.questions %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
