<%= content_for(:js_page) { javascript_include_tag('responses') } %>

<%= form_for(@response) do |f| %>
  <%= flash_and_form_errors(@response)%>

  <div class="field">
    <%= f.label "Choose an Question Group for this question (select blank if answering individual question): " %><br />
    <%= select("response","question_group_id", @question_groups.collect { |d| [d.name,d.id] }, { :include_blank => true }) %>
  </div>
  
  <div class="questions">
    <div class="field">
      <%= f.label "Choose an Question:" %><br />
      <%= select("response", "question_id", @questions.collect { |d| [d.text,d.id] }) %>
    </div>
    <div class="field">
      <%= f.label "Choose an Answer:" %><br />
      <%= select("response","answer_id", @answers.collect { |d| [d.text,d.id] }) %>
    </div>	  
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
