<h1>My Responses</h1>

<table>
  <tr>
    <th>Answer</th>
    <th>Question</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responses.each do |response| %>
  <tr>
    <td><%= response.answer.text %></td>
    <td><%= response.question.text %></td>
    <td><%= response.user.username %></td>
    <td><%= link_to 'Show', response %></td>
    <td><%= link_to 'Edit', edit_response_path(response) %></td>
    <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Response', new_response_path %>
