<h1> View Response </h1>
<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @response.user.username %>
</p>
<p>
  <b>Question:</b>
  <%= @response.question.text %>
</p>

<p>
<p>
  <b>Answer:</b>
  <%= @response.answer.text %>
</p>

<p>
	<b>Submitted at: </b>
	<%= @response.created_at %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
