<table>
  <tr>
	  <% filterObject(fields,['id','updated_at','created_at']).each do |f| %>	  
	  	<th> <center> <%= normalizeField(f).capitalize %> </center> </th>
	  <% end %>
	  <th> Actions </th>
  </tr>  
  <% unless object.nil? %>
    <% object.each do |o| %>
	    <tr class="data">
		  <% filterObject(o.attributes,['id','updated_at','created_at']).each do |field| %> 
			<td> 
				<% if field[0] =~ /.*_id/ %>
				  <%= findByField(field[1],field[0])%>
				<% else %>
			      <%= field[1]%>
				<% end %>
				
		  	</td>
		  <% end %>
		   <td>
			   <%= if permitted_to? :show, o
			         link_to "Show", o, :action => :show
			       end %>
				   
			   <%= if permitted_to? :edit, o 
		              link_to "Edit", edit_polymorphic_path(o)
	               end	
			   %>	   
			   <%= if permitted_to? :destroy, o 
		              link_to "Destroy", o, :method => :delete , :confirm => "Are you sure?"
	               end %>
		   </td>
		   </tr>	   
	  <% end %>
<% end %>
</table>