<!DOCTYPE html>
<html>
<head>
  <title>GTRep: Simplify your workspace</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "page"%>
    <script type="text/javascript" src="//use.typekit.net/vfg0zyr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="centering">
		
		<div class="logo">
			<h2>GT Rep</h2>
			<h3>Simplify your workspace! </h3>
		</div>
	
	<div class="errors">
 		<%= flash[:error] %>
	</div>
    <div class="nav">
		<center>
        <% if current_user %>
	 		<%=link_to "My Categories", categories_path %> | 
			<%= link_to "My Responses", responses_path %> |
			<%= link_to "Answer Bank", answers_path %> |	
			<%= link_to "Question Bank", questions_path %> |
        	<%= link_to "Edit Profile", edit_user_path(current_user.id)%> |
       	 	<%= link_to "Logout", :logout%>
        <% else %>
        	<%= link_to "Register", new_user_path%> | 
        	<%= link_to "Login", :login %>
        <% end %>
		</center>
	</div>
	
	<div class="content">
		<%= yield %>
	</div>
 
	</div>
 
</body>
</html>
